[submodule "ansible/roles/network"]
	path = ansible/roles/network
	url = https://github.com/void-ansible-roles/network
[submodule "ansible/roles/sshd"]
	path = ansible/roles/sshd
	url = https://github.com/void-ansible-roles/sshd
