[submodule "ansible/roles/network"]
	path = ansible/roles/network
	url = https://github.com/void-ansible-roles/network
[submodule "ansible/roles/sshd"]
	path = ansible/roles/sshd
	url = https://github.com/void-ansible-roles/sshd
[submodule "ansible/roles/node_exporter"]
	path = ansible/roles/node_exporter
	url = https://github.com/void-ansible-roles/node_exporter
[submodule "ansible/roles/prometheus"]
	path = ansible/roles/prometheus
	url = https://github.com/void-ansible-roles/prometheus
[submodule "ansible/roles/grafana"]
	path = ansible/roles/grafana
	url = https://github.com/void-ansible-roles/grafana
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = https://github.com/void-ansible-roles/nginx/
